langchain>=1.0.0
langchain-groq
langchain-community
langchain-core
tavily-python
beautifulsoup4
requests
python-dotenv
rich
streamlit 
nltk
scikit-learn
transformers
torch
mlflow
chromadb
langchain-chroma
pypdf
sentence-transformers
langchain-huggingface
langchain-text-splitters
textblob